doctype
html
  head
    title= pageTitle
    link(rel="stylesheet", href="/css/style.css")
  body
    .header
      .jumbotron
        .container
          h1 Express app
      .navbar.navbar-inverse
        .container
    .container
      block content

  script(src="/js/production.js")


